.results {
  display: none;
  background-color: yellow;
}

#webVsApps, #lgVsSm, #lgVsSm2, #uxVsBackend, #androidVsWindows {
  display: none;
  }

.jumbotron {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

form p {
  font-weight: bold;
}
